body {
    background-color: white;
    color: #000;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* NAVBOX */

.navbox {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: #000000;
    border-radius: 0.2rem;
    max-width: 750px;
    width: 60%;
    margin: 0.3rem;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    
}

.navbtn {
    border-radius: 0.2rem;
    cursor: pointer;
    margin: 0.3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #fff;

    
}

.navbtn:hover {
    transform: scale(1.2);
}

.contentbox{
    display: flex;
    justify-content: center;
    margin: 2rem;
}

/* BASE MODAL */

.basemodal {
    display: flex;
    flex-direction: column;
    margin: 1.2rem;
    border-radius: 0.5rem;
    max-width: 120rem;
    width: 55rem;
    box-shadow: 0px 5px 15px 1px rgba(66, 68, 90, 1);

}

.managemodal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.managecontent {
    display: flex;
    justify-content: space-around;
}

.manage {
    cursor: pointer;
}

.manage:hover {
    transform: scale(1.2);
}

.modalrow {
    display: flex;
    justify-content: space-around;

}

.modalbox {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 21rem;
    border-radius: 1rem;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.modalbox.login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.messagebox {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.formmodal {
    display: flex;
    min-width: 50%;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
    margin: 1rem;

}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5rem;
}
select {
    margin-block: 0.4rem;
}

input {
    margin-block: 0.4rem;
}

label {
    margin: 0.1rem;
}

button {
    border: none;
    height: 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 1rem;
    margin: 0.2rem;
}

button#submit {
    background-color: #00b200;
    color: white; 
}

button#delete {
    background-color: #c43030;
    color: white;
}



button:hover {
    transform: scale(1.02);

}

.infomodal{
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
}

.infomodal.success{
    background-color: #53d753;
    color: white;

}

.infocontent {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0.1rem;
    border-radius: 0.4rem;
}